{{ define "atkmatrix" }}

{{/*  Set main column width and hide sidebars   */}}
<style>
    .td-sidebar {
        display: none !important;
    }

    .col-xl-8 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .td-sidebar-toc {
        display: none !important;
    }
</style>

<div class="td-content">
	<h1>{{ .Title }}</h1>
    {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
    <a href="{{ .Parent.Permalink }}">&lt;&lt; Back to Content</a><br/><br/>
    <div class="container-fluid" style="padding-right: 45px;">
    <div class="attack-matrix">
        <div class="mitre-row">
            {{ range $tac_name := $.Site.Data.mitre_matrix.tactics }}
            <div class="mitre-card">
                <div class="mitre-tactic">{{$tac_name}}
                </div>
                {{ range $.Site.Data.mitre_matrix.techniques }}
                    {{if eq .tactic_name (lower $tac_name)}}
                        {{if eq .nw_covered false}}
                            <div class="techniques-list">
                                <div class="mitre-tech-info">
                                <h5 class="mitre-technique-id">{{.technique_id}}</h5>
                                <p class="mitre-technique">{{.technique_name}}</p>
                                </div>
                            </div>
                        {{else}}
                            <div class="techniques-list technique-covered" data-toggle="modal" data-id={{.technique_id}} data-target="#{{.technique_id}}">
                                <div class="mitre-tech-info">
                                <h5 class="mitre-technique-id">{{.technique_id}}</h5>
                                <p class="mitre-technique">{{.technique_name}}</p>
                                </div>
                            </div>
                        {{end}}
                    {{end}}
                {{end}}
                {{ range $.Site.Data.mitre_matrix.techniques }}
                <div class="modal" id={{.technique_id}} tabindex="-1" data-keyboard="false"  aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="grid">
                    <div class="nwinfo-modal">	
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>							
                        <div class="modal-body" data-backdrop="static">
                            <h4>Mitre ID</h4>
                            <p>{{.technique_id}}</p>
                            <h5>link</h5>
                            <a href="{{.technique_url}}" target="_blank">{{.technique_url}}</a>
                            <div class="container-fluid">
                                <div class="nwinfo-row">
                                    <div class="col-md">
                                        <div class="nwcontent-block">
                                            {{if isset .nw_info "app_rules"}}
                                            <h5 class="nwcontent-type">AppRules</h5>
                                            {{range .nw_info.app_rules}}
                                            <span class="btn btn-outline-dark" style="font-size: 13px;">{{.}}</span>
                                            {{end}}													
                                            {{end}}
                                        </div>
                                        <div class="nwcontent-block">
                                            {{if isset .nw_info "esa_rules"}}
                                            <h5 class="nwcontent-type">EsaRules</h5>
                                            {{range .nw_info.esa_rules}}
                                            <span class="btn btn-outline-dark" style="font-size: 13px;">{{.}}</span>
                                            {{end}}
                                            {{end}}
                                        </div>
                                        <div class="nwcontent-block">
                                            {{if isset .nw_info "lua_parsers"}}
                                            <h5 class="nwcontent-type">LuaParsers</h5>
                                            {{range .nw_info.lua_parsers}}
                                            <span class="btn btn-outline-dark" style="font-size: 13px;">{{.}}</span>
                                            {{end}}
                                            {{end}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
    </div>
</div>
{{ end }}