<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{ partial "sidebar.html" . }}
          </aside>
          <aside class="d-none d-xl-block col-xl-2 td-sidebar-toc d-print-none">
            {{ partial "page-meta-links.html" . }}
            {{ partial "toc.html" . }}
            {{ partial "taxonomy_terms_clouds.html" . }}
          </aside>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            {{ partial "version-banner.html" . }}
            {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
            {{ block "main" . }}{{ end }}
            {{ block "atkmatrix" . }}{{ end }}
            {{ block "pagination" . }}{{ end }}
            <div class="container" style="padding-top: 1rem; padding-left: 0rem; padding-right: 0rem;">
              {{ print "Permalink:" .Permalink }}
              <br/>
              {{ print "baseURL:" .Site.BaseURL }}
              <br/>
              {{ print "BundleType:" .BundleType }}
              <br/>
              {{ print "Resources:" .Resources }}
            </div>
           </main>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
    {{ if eq .Layout "atkmatrix" }}
      {{ partial "scripts-mitre.html" . }}
    {{ end }}
  </body>
</html>