{{ define "main" }}
{{ .Render "content" }}
{{ end }}

{{ define "pagination" }}
<style>
  button.previous-next {
    border-style: double ;
    width: 100%; 
    border-width: thin; 
    border-radius: 5px; 
    padding-left: 1rem; 
    padding-right: 1rem;
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    background: white;
  }
  button.previous-next:hover {
  border-color: red;
  }
  div.pagination-nav {
    color: blue;
  }

  body.dark-mode div.pagination-nav {
    color: #6cb3e2;
  }
  
  body.dark-mode span {
    color: white;
  }

</style>

<div class="container" style="padding-top: 1rem; padding-left: 0rem; padding-right: 0rem;">
  <div class="row">
    {{if .NextInSection}}
    <div class="col" style="max-width: 48%;">
    <a class="pagination-nav__link pagination-nav__link--prev" href = {{.NextInSection.Permalink}} style="text-align: left;">
      <button type="button" class="previous-next">
        <div class="row" style="padding-right: 1rem;">
          <div class="col" style="align-items: center; display: flex;">
              <i class="fa fa-angle-double-left fa-lg" aria-hidden="true">  </i>
          </div>
          <div class="flex-col" style="text-align: right;">
                <span>Previous</span>
                    <div class="pagination-nav" style="font-weight: bold;">
                      {{.NextInSection.Name}}
                    </div>
          </div>
        </div>
      </button>
    </a>
  </div>
    {{end}}
    {{if .PrevInSection}}
    <div class="col" style="max-width: 50%;">
    <a class="pagination-nav__link pagination-nav__link--prev" href = {{.PrevInSection.Permalink}} style="text-align: right;">
      <button type="button" class="previous-next">
        <div class="row" style="padding-left: 1rem;">
          <div class="col" style="text-align: left;">
              <span>Next</span>
                  <div class="pagination-nav" style="font-weight: bold;">
                    {{.PrevInSection.Name}}
                  </div>
          </div>  
          <div class="col-auto" style="display: flex; align-items: center; text-align: right;">
            <i class="fa fa-angle-double-right fa-lg" aria-hidden="true">  </i>
          </div>   
        </div>
      </button>
    </a>
  </div>
      {{end}}
  </div>
</div>
{{ end }}