$navbar-primary:#ffffff !default;
$navlink: black !default;
$navlink-hover: gray !default;
$search-border-color: gray !default;


/* HEADER */

.td-navbar {
  // Set background of main navbar to custom color
  background: $navbar-primary !important;

  .navbar-brand {

    svg {
        // Set logo size (width will auto-adjust)
        height: 40px !important;
    }
  }
}

a.nav-link {
  color: $navlink !important;
}

a.nav-link:hover {
  color: $navlink-hover !important;
}

.dropdown-item {
	font-weight: 400 !important;	
}

.feedback--title {
  padding-top: 1rem;
}

input.td-search__input, input.td-search__input:not(:focus-within) {
  border-color: $search-border-color;
  box-shadow: 0 0 0 1px $search-border-color;
  color: inherit;
  opacity: 1 !important; /* Firefox */
}

input.td-search__input::placeholder {
  color: gray !important;
  opacity: 1 !important; /* Firefox */
}

.td-search__icon {
  color: $search-border-color !important;
}

// MITRE styling

.attack-matrix {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  min-height: 0;
}

.mitre-card {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
}

.mitre-row {
  display: flex;
  flex-direction: row;
}

.mitre-tactic {
  padding: 1px;
  min-height: 3rem;
  word-wrap: break-word;
  font-size: 12px;
  font-weight: 600;
  border: none;
}

.nwinfo-modal {
display: flex;
border: 1px solid #66666640;
align-items: stretch;
align-self: center;
flex-direction: column;
position: fixed;
right: auto;
bottom: auto;
min-height: 30px;
min-width: 798px;
max-height: inherit;
max-width: 798px;
background-color: #e6e3e3;
box-shadow: #2e2e2e80;
outline: none;
z-index: 10000;
}

.modal-dialog {
  pointer-events:all !important;
}

.nwinfo-row{
  display: inline-block;
  flex-direction: row;
  padding: 40px 20px;
}

// .link, a {
// cursor: pointer;
// fill: currentColor;
// text-decoration: none;
// }

.nwcontent-block{
margin-top:10px;
}

.nwcontent-type{
  text-align: center;
}


.techniques-list{
  border: 1px solid #e6ebf0
}

.mitre-technique {
  font-size: 10px;
}

.mitre-technique-id {
  font-size: 10px;
  font-weight: 700;
}

.mitre-tech-info {
  padding: 1.5px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid var(--color-border-2);
  background-color: var(--color-background-1);
  color: var(--color-foreground-1); */
}

.matrix {
  margin: 5px
}

.technique-covered{
  background-color: #4384c4;
  color:#f9f9f9;
  cursor: pointer;
}

body.dark-mode .technique-covered{
  background-color: #575757;
  color:#f9f9f9;
  cursor: pointer;
}