/* This file is provided by Docsy as an entry point to styling.
Add styles or override variables from the theme here. */

$primary: #900c08 !default;
$primary-light: lighten($primary, 75%) !default;
$secondary: #007bff !default;
$success: #00fc15 !default;
$info: #19e4e4 !default;
$warning: #ffeb3b !default;
$danger: #ED6A5A !default;
$white: #fff !default;
$light: #D3F3EE !default;

@import "custom";
