{{ $_hugo_config := `{ "version": 1 }` }}
{{ $bgimage := .Get "bgimage" | default "images/NW-Documentation.jpg" | relLangURL }}

<div class="mx-auto" style="padding-top: 10rem; padding-bottom: 6rem; background: #900c08; color: white; background-image: url({{ $bgimage }});">
	<h1 style="color: white; padding-left: 4rem; font-size: 60px; font-family: Beatrice,Helvetica Neue,Arial,sans-serif;">
		{{ .Inner | plainify }}
	</h1>
</div>   
