{{ $_hugo_config := `{ "version": 1 }` }}
{{ $heading := .Get "heading" | default "" }} 
{{ $subheading := .Get "subheading" | default "" }} 
{{ $background := .Get "background" | default "white" }}

<div class="mx-auto" style="padding-top: 2rem; padding-bottom: 2rem; padding-left: 1rem; background-color:{{ $background }};" >
    <h3 style="font-weight: bold;">{{ $heading }}</h3>
    <h6>{{ $subheading }}</h6>
    <br/>
    <div class="container-fluid" style="padding-left: 0px;">
        <div class="col-md">
            <div class="row"> 
                <div style="padding: 0px;">
                    {{ if eq .Page.File.Ext "md" }}
                        {{ .Inner | markdownify }}
                    {{ else }}
                        {{ .Inner | htmlUnescape | safeHTML }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
