{{ $_hugo_config := `{ "version": 1 }` }}
{{ $cardname := .Get "name" | default "cardname" }}
{{ $background := .Get "background" | default "whitesmoke" }}
{{ $linktext := .Get "linktext" | default "Documentation" }}
{{ $url := .Get "url" | default "#" }}
{{ $urlparsed := absURL $url | urls.Parse }}
{{ $baseurlparsed := urls.Parse .Site.BaseURL }}

<div class="card" style="width: 17rem; display:inline-block; margin-right: 10px; margin-top: 10px;">
    <div class="card-body" style="background-color:{{ $background }}">
        <h5 class="card-title" style="font-weight: bold;">{{ $cardname }}</h5>
        <span>
            {{ if (ne $urlparsed.Host $baseurlparsed.Host) }}
                <a href="{{ $url }}" target="_blank">{{ $linktext }}<i class="fa-solid fa-up-right-from-square fa-xs" style="padding-left: 10px;"></i></a>
            {{ else }}
                <a href="{{ $url }}">{{ $linktext }}<i class="fa fa-arrow-right" style="padding-left: 10px;"></i></a>
            {{ end}}
        </span>
    </div>
</div>

