{{ $_hugo_config := `{ "version": 1 }` }}
{{ $heading := .Get "heading" | default "" }} 
{{ $subheading := .Get "subheading" | default "" }} 
{{ $background := .Get "background" | default "white" }}

<div class="d-flex justify-content-center" style="padding-bottom: 2rem; padding-top: 2rem; text-align: center; background-color:#F0F0F0; ">
    <div class="row">
        {{ if eq .Page.File.Ext "md" }}
            {{ .Inner | markdownify }}
        {{ else }}
            {{ .Inner | htmlUnescape | safeHTML }}
        {{ end }}
    </div>
</div>
