{{ $_hugo_config := `{ "version": 1 }` }}
{{ $heading := .Get "heading" | default "" }} 
{{ $subheading := .Get "subheading" | default "" }} 
{{ $linktext := .Get "linktext" | default "Visit website" }}
{{ $url := .Get "url" | default "#" }}
{{ $icon := .Get "icon" | default "" }}

<div class="col-xs-6" style="padding-left: 3rem;padding-right: 3rem;">
    <i class="{{ $icon }}" style="font-size:36px; padding-bottom: 1rem;"></i>
    <h4 style="font-weight: bold";> {{ $heading }} </h4>
    <h6> {{ $subheading }} </h6>
    <a href="{{ $url }}"> {{ $linktext }} </a>
</div>
