{{ $links := .Site.Params.links }}
<footer class="py-5 row d-print-none" style="border-top: 1px solid #dee2e6">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      
      <div class="col-6 col-sm text-xs-center order-sm-2">
        {{ with $links }}
        {{ with index . "user"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
      <div >
        {{ with $links }}
        {{ with index . "developer"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
      <div class="col-12 col-sm text-center py-2 order-sm-2">
        {{ with .Site.Params.copyright }}<small class="text-black"  style="font-size: 16px; font-weight: 300;">&copy; {{ now.Year}} {{ .}} {{ T "footer_all_rights_reserved" }}</small>{{ end }}
        {{ with .Site.Params.privacy_policy }}<small class="ml-1"   style="font-size: 16px; font-weight: 300;"><a href="{{ . }}" target="_blank" rel="noopener">{{ T "footer_privacy_policy" }}</a></small>{{ end }}
	{{ if not .Site.Params.ui.footer_about_disable }}
		{{ with .Site.GetPage "about" }}<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
	{{ end }}
      </div>

      <div class="col-12 col-sm text-center py-2 order-sm-2">
      <ul class="nav list-inline justify-content-center">
        <li class="list-inline-item">
          <a href="https://www.netwitness.com/wp-content/uploads/NetWitness-Privacy-Statement.pdf" style="color: black; font-size: 16px; font-weight: 300;">Privacy Statement |</a>
        </li>  
        <li class="list-inline-item">
          <a href="https://www.netwitness.com/wp-content/uploads/NetWitness-Acceptable-Use-Policy.pdf" style="color: black; font-size: 16px; font-weight: 300;">Acceptable Use Policy</a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.netwitness.com/en-us/sitemap/" style="color: black; font-size: 16px; font-weight: 300;">Sitemap</a>
        </li>
      </ul>
    </div>

    </div>
  </div>
</footer>
{{ define "footer-links-block" }}
<ul class="list-inline mb-0">
  {{ range . }}
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="{{ .name }}" aria-label="{{ .name }}">
    <a class="text-black" target="_blank" rel="noopener" href="{{ .url }}" aria-label="{{ .name }}">
      <i class="{{ .icon }}"></i>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
