{{ if .File }}
{{ $pathFormatted := replace .File.Path "\\" "/" -}}
{{ $gh_repo := ($.Param "github_repo") -}}
{{ $gh_url := ($.Param "github_url") -}}
{{ $gh_subdir := ($.Param "github_subdir") -}}
{{ $gh_project_repo := ($.Param "github_project_repo") -}}
{{ $gh_branch := (default "master" ($.Param "github_branch")) -}}
<div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
  {{ if $gh_url -}}
    {{ warnf "Warning: use of `github_url` is deprecated. For details see https://www.docsy.dev/docs/adding-content/repository-links/#github_url-optional" -}}
    <a href="{{ $gh_url }}" target="_blank"><i class="fa fa-edit fa-fw"></i> {{ T "post_edit_this" }}</a>
  {{ else if $gh_repo -}}
    {{ $gh_repo_path := printf "%s/content/%s" $gh_branch $pathFormatted -}}
    {{ if and ($gh_subdir) (.Site.Language.Lang) -}}
      {{ $gh_repo_path = printf "%s/%s/content/%s/%s" $gh_branch $gh_subdir ($.Site.Language.Lang) $pathFormatted -}}
    {{ else if .Site.Language.Lang -}}
      {{ $gh_repo_path = printf "%s/content/%s/%s" $gh_branch ($.Site.Language.Lang) $pathFormatted -}}
    {{ else if $gh_subdir -}}
      {{ $gh_repo_path = printf "%s/%s/content/%s" $gh_branch $gh_subdir $pathFormatted -}}
    {{ end -}}

    {{/* Adjust $gh_repo_path based on path_base_for_github_subdir */ -}}
    {{ $ghs_base := $.Param "path_base_for_github_subdir" -}}
    {{ $ghs_rename := "" -}}
    {{ if reflect.IsMap $ghs_base -}}
      {{ $ghs_rename = $ghs_base.to -}}
      {{ $ghs_base = $ghs_base.from -}}
    {{ end -}}
    {{ with $ghs_base -}}
      {{ $gh_repo_path = replaceRE . $ghs_rename $gh_repo_path -}}
    {{ end -}}

    {{ $viewURL := printf "%s/tree/%s" $gh_repo $gh_repo_path -}}
    {{ $editURL := printf "%s/edit/%s" $gh_repo $gh_repo_path -}}
    {{ $issuesURL := printf "%s/issues/new?title=%s" $gh_repo (safeURL $.Title ) -}}
    {{ $newPageStub := resources.Get "stubs/new-page-template.md" -}}
    {{ $newPageQS := querify "value" $newPageStub.Content "filename" "change-me.md" | safeURL -}}
    {{ $newPageURL := printf "%s/new/%s?%s"  $gh_repo $gh_repo_path $newPageQS -}}

    {{/*  <a href="{{ $viewURL }}" class="td-page-meta--view" target="_blank" rel="noopener"><i class="fa fa-file-alt fa-fw"></i> {{ T "post_view_this" }}</a>
    <a href="{{ $editURL }}" class="td-page-meta--edit" target="_blank" rel="noopener"><i class="fa fa-edit fa-fw"></i> {{ T "post_edit_this" }}</a>  */}}
    
    <div class="row" style="padding-top: 1rem; padding-bottom: 1rem;">
      <div style="padding-left: 2rem;">
          <a href="javascript:window.print();">
              <span class="fa fa-print fa-fw  fa-2x" data-toggle="tooltip" data-original-title="Print this page"></span></a>
      </div>
          {{ with .CurrentSection.AlternativeOutputFormats.Get "print" }}
      <div style="padding-left: 2rem;">
          <a id="print" href="{{ .Permalink | safeURL }}">
              <span class="fas fa-book-open fa-fw  fa-2x" data-toggle="tooltip" data-original-title="{{ T "print_entire_section" }}"></span></a>
          {{ end }}
      </div>

      <div style="padding-left: 2rem;">
          <a href="{{ $issuesURL }}" target="_blank">
              <span class="fab fa-github fa-fw  fa-2x" data-toggle="tooltip" data-original-title="Request doc change."></span></a>
      </div>

    
    {{/*  <a href="{{ $newPageURL }}" class="td-page-meta--child" target="_blank" rel="noopener"><i class="fa fa-edit fa-fw"></i> {{ T "post_create_child_page" }}</a>
    <a href="{{ $issuesURL }}" class="td-page-meta--issue" target="_blank" rel="noopener"><i class="fab fa-github fa-fw"></i> {{ T "post_create_issue" }}</a>
    {{ with $gh_project_repo -}}
      {{ $project_issueURL := printf "%s/issues/new" . -}}
      <a href="{{ $project_issueURL }}" class="td-page-meta--project-issue" target="_blank" rel="noopener"><i class="fas fa-tasks fa-fw"></i> {{ T "post_create_project_issue" }}</a>
    {{ end -}}  */}}

  </div>
  {{ end }}
</div>
{{ end -}}
