{{ $start := `<div class="`}}
{{ $style := `" style="font-weight: normal; font-style: normal; widows: 10; orphans: 10; color: #000000; font-size: 12.0pt; margin-top: 5pt; margin-bottom: 20pt; padding-left: 8px; padding-right: 8px; border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; ` }}
{{ $headstart := `><p><span class="autonumber"><span><strong style="font-weight: bolder;">`}}
{{ $label := printf "%s:" (upper (.Get 0)) }}
{{ $headend := " </strong></span></span>"}}
{{ $inner :=  .Inner | markdownify }}

{{ $colors := "" }}
{{if eq (.Get 0) "note"}}
{{ $colors = ` background-color: #e4fae4; border: 1pt solid #228b22;"` }}
{{else if eq (.Get 0) "warning"}}
{{ $colors = ` background-color: #fffacd; border: 1pt solid #ffd700;"` }}
{{else if eq (.Get 0) "danger"}}
{{ $colors = ` background-color: #f7edec; border: 1pt solid #ff0000;"` }}
{{else if eq (.Get 0) "important"}}
{{ $colors = ` background-color: #ffb3b3; border: 1pt solid #c1403a;"` }}
{{end}}

{{ $content := printf "%s%s%s%s%s%s%s%s%s" $start (.Get 0) $style $colors $headstart $label $headend $inner "</p></div>" }}

{{ $content | $.Page.RenderString }}

